<section class="section">
  <div class="row">
    <div class="col-lg-6">

      <div class="card">
        <div class="divLoading" *ngIf="isLoading">
          <div class="spinner"></div>
        </div>
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">
            Mes Voitures
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#car-form-modal">
              Ajouter<i class="bi bi-plus-circle-fill ms-2"></i>
            </button>
          </h5>
          <!-- Car Form Modal -->
          <div class="modal fade" id="car-form-modal" tabindex="-1" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Ajout voiture</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #btnCloseFormVoitureModal></button>
                </div>
                <div class="modal-body">
                  <app-car-form [btnCloseModal] = "btnCloseFormVoitureModal"></app-car-form>
                </div>
              </div>
            </div>
          </div>
          <!-- Car Form Modal-->
          <!-- List car -->
          <ul class="drag-drop-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <li class="drag-drop-list-item d-flex justify-content-between align-items-center" *ngFor="let car of listeVoiture" cdkDrag>
              <div>
                {{car.getMarque()}} <span class="badge bg-success rounded" *ngIf="car.isNew()">NEW</span>
              </div>
              <div>
                <span class="badge bg-primary rounded">{{car.getMatricule()}}</span>
                <a href="javascript:void(0)" (click)="edit(car.getId())"><i class="bi bi-pencil-square text-success ms-2"></i></a>
                <a href="javascript:void(0)" (click)="remove(car.getId())"><i class="bi bi-trash text-danger ms-2"></i></a>
              </div>
            </li>
          </ul>
          <!-- List car -->
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mes Voitures Deposes</h5>
          <!-- List car -->
          <!-- <ul class="drag-drop-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <li class="drag-drop-list-item d-flex justify-content-between align-items-center" *ngFor="let car of listeVoiture" cdkDrag>
              <div>
                {{car.getMarque()}} <span class="badge bg-success rounded" *ngIf="car.isNew()">NEW</span>
              </div>
              <div>
                <span class="badge bg-primary rounded">{{car.getMatricule()}}</span>
              </div>
            </li>
          </ul> -->
          <!-- List car -->
        </div>
      </div>

    </div>
  </div>
</section>