#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgb(243, 243, 243);
    font-family: 'Courier New', Courier, monospace
}

#container #error{
    color: rgb(168, 168, 168);
    font-size: 3vw;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
    footer{
        font-size: 10px;
    }
  }