<div id="error-message" class="nofification" *ngIf="errorMessage">{{errorMessage}}</div>
<div id="success-message" class="nofification" *ngIf="successMessage">{{successMessage}}</div>
<div>
    <router-outlet></router-outlet>
</div>
